<div
  class="flex w-full sticky top-0 z-10 h-[8vh] shadow-sm items-center bg-white justify-between"
>
  <img
    src="../assets/desktop/Adventure-Tripr-Logo-New-Ver2-PNG.1_300.png"
    class="ml-10 max-sm:hidden"
  />
  <div class="flex mx-5 w-full justify-between sm:hidden">
    <img src="../assets/mobile/AT_Logo2021_Icon_Color.png"/>
    <img src="../assets/mobile/Menu burger.svg" />
  </div>
  

  <div class="flex mr-[80px] max-sm:hidden">
    <div class="cursor-pointer hover:text-sky-700">Adventures</div>
    <div class="ml-[36px] cursor-pointer hover:text-sky-700">About us</div>
    <div class="ml-[36px] cursor-pointer hover:text-sky-700">Community</div>
    <div class="ml-[36px] cursor-pointer hover:text-sky-700">Resources</div>
    <div class="ml-[36px] cursor-pointer hover:text-sky-700">Contact</div>
  </div>
</div>

<div class="flex relative h-[92vh] w-full">
  <img
    class="w-full h-[92vh] object-cover bg-no-repeat bg-auto max-sm:hidden"
    src="../assets/desktop/jack-charles-4IZ0Andwqyw-unsplash.png"
  />
  <img class="sm:hidden" src="../assets/mobile/jack-charles-4IZ0Andwqyw-unsplash.png" />
  <div class="absolute text-[white] ml-40 mt-40 max-sm:ml-8 ">
    <div class="flex-col">
      <span class="text-[40px] font-bold max-sm:text-[30px]">Adventure travel </span>
      <div></div>
      <span class="text-[40px] font-bold max-sm:text-[30px]">designed for everyone </span>
    </div>

    <div class="flex-col mt-6">
      <span class="text-[16px]"
        >We connect you with local guides, communities,
      </span>
      <div></div>
      <span class="text-[16px]"
        >and resources you need to rejuvenate in nature.</span
      >
    </div>
    <button
      class="rounded-md px-8 py-1 bg-[#F2642A] text-center mt-10 text-white max-sm:hidden"
    >
      Find your adventure
    </button>
    <button
      class="rounded-md px-8 py-1 bg-[#F2642A] text-center mt-10 text-white sm:hidden"
    >
      Explore all adventures
    </button>
  </div>
</div>
<div class="px-40 flex flex-col items-center">
  <div>
    <div class="mt-20 mb-6">
      <span class="text-[32px] font-bold">Reimagine what’s possible</span>
    </div>
    <div class="flex items-center">
      <img
        src="../assets/desktop/sebastian-pena-lambarri-Wj9ELwGXa6c-unsplash@2x.png"
        class="object-cover h-[355px] mr-3"
      />
      <div class="flex flex-col justify-between w-[260px] mr-3">
        <img
          src="../assets/desktop/berti-benbanaste-2hkDhGEZVBg-unsplash.png"
          class="object-cover mb-2 w-full"
        />
        <img
          src="../assets/desktop/nanda-firdaus-_CZRd9eDmUM-unsplash.png"
          class="object-cover w-full"
        />
      </div>
      <img
        src="../assets/desktop/sean-benesh-VnmbcgAfL3Q-unsplash.png"
        class="object-cover mr-3 w-[352px]"
      />
      <img
        src="../assets/desktop/joshua-sukoff-1NnW4hAwOuQ-unsplash.png"
        class="object-cover w-[168px]"
      />
    </div>
    <div class="flex w-full justify-start">
      <button
        class="rounded-md px-8 py-1 bg-[#F2642A] text-center mt-16 text-white"
      >
        Find your adventure
      </button>
    </div>
    <div class="mt-24">
      <div>
        <span class="text-[32px] font-bold">Featured trips</span>
      </div>
      <div class="mt-4">
        <span class="text-[22px] font-semibold">Group</span>
      </div>
      <div>
        <span class="text-[14px] text-[#1A1818]"
          >Find your community and travel with like-minded adventurers.</span
        >
      </div>
    </div>
    <div class="flex mt-10 justify-start">
      <div class="flex flex-col items-center justify-center">
        <div class="mr-1 relative w-[352px]">
          <div class="absolute flex w-full h-full justify-end items-end">
            <div class="mr-1 mb-2 w-full flex items-center">
              <span class="text-white ml-4">from $375 | 3 DAYS</span>
              <img src="../assets/desktop/Polygon 7-1.svg" class="ml-[80px]" />
              <span class="text-white ml-10 mb-1">5.0(2)</span>
            </div>
          </div>
          <div class="absolute flex w-full h-full justify-end">
            <div class="mr-[10px] mt-[10px]">
              <img
                src="../assets/desktop/Screen Shot 2022-04-13 at 11.17.55 AM-1.png"
              />
            </div>
          </div>
          <div class="absolute flex w-[352px] h-[352px]">
            <img
              src="../assets/desktop/Rectangle 729.svg"
              class="object-cover bg-no-repeat w-full"
            />
          </div>
          <img
            src="../assets/desktop/jed-villejo-bEcC0nyIp2g-unsplash.png"
            class="block object-cover"
          />
        </div>
        <div class="flex flex-col justify-center items-center text-center">
          <div>
            <span class="text-[24px] font-semibold"
              >ACADIA NATIONAL PARK ADVENTURE</span
            >
          </div>
          <div class="mt-3 flex justify-center items-center text-center">
            <span class="text-[12px] font-semibold text-[grey]">UTAH, US</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="mr-1 relative w-[352px]">
          <div class="absolute flex w-full h-full justify-end items-end">
            <div class="mr-1 mb-2 w-full flex items-center">
              <span class="text-white ml-4">from $375 | 3 DAYS</span>
              <img src="../assets/desktop/Polygon 7-1.svg" class="ml-[80px]" />
              <span class="text-white ml-10 mb-1">5.0(2)</span>
            </div>
          </div>
          <div class="absolute flex w-full h-full justify-end">
            <div class="mr-[10px] mt-[10px]">
              <img
                src="../assets/desktop/Screen Shot 2022-04-13 at 11.17.55 AM-1.png"
              />
            </div>
          </div>
          <div class="absolute flex w-[352px] h-[352px]">
            <img
              src="../assets/desktop/Rectangle 729.svg"
              class="object-cover bg-no-repeat w-full"
            />
          </div>
          <img
            src="../assets/desktop/jed-villejo-bEcC0nyIp2g-unsplash.png"
            class="block object-cover"
          />
        </div>
        <div>
          <div class="flex justify-center w-full text-center">
            <span class="text-[24px] font-semibold"
              >ACADIA NATIONAL PARK ADVENTURE</span
            >
          </div>
          <div class="flex justify-center w-full text-center mt-3">
            <span class="text-[12px] font-semibold text-[grey]">UTAH, US</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="mr-1 relative w-[352px]">
          <div class="absolute flex w-full h-full justify-end items-end">
            <div class="mr-1 mb-2 w-full flex items-center">
              <span class="text-white ml-4">from $375 | 3 DAYS</span>
              <img src="../assets/desktop/Polygon 7-1.svg" class="ml-[80px]" />
              <span class="text-white ml-10 mb-1">5.0(2)</span>
            </div>
          </div>
          <div class="absolute flex w-full h-full justify-end">
            <div class="mr-[10px] mt-[10px]">
              <img
                src="../assets/desktop/Screen Shot 2022-04-13 at 11.17.55 AM-1.png"
              />
            </div>
          </div>
          <div class="absolute flex w-[352px] h-[352px]">
            <img
              src="../assets/desktop/Rectangle 729.svg"
              class="object-cover bg-no-repeat w-full"
            />
          </div>
          <img
            src="../assets/desktop/jed-villejo-bEcC0nyIp2g-unsplash.png"
            class="block object-cover"
          />
        </div>
        <div class="flex flex-col items-center justify-center">
          <div class="flex justify-center w-full text-center">
            <span class="text-[24px] font-semibold"
              >ACADIA NATIONAL PARK ADVENTURE</span
            >
          </div>
          <div class="flex justify-center w-full text-center mt-3">
            <span class="text-[12px] font-semibold text-[grey]">UTAH, US</span>
          </div>
        </div>
      </div>
    </div>
    <button
      class="rounded-md px-8 py-1 bg-[#F2642A] text-center my-10 text-white"
    >
      Find your crew
    </button>
  </div>
</div>
